@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ECECEC;
}

a{
 text-decoration: none;
 color: #b8c6dc;
 font-weight: 800;
 font-size: 30px
 
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    background: #293447;
}


/*tabela do jogo*/

.game {
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.tabela {
    width: 100%;
    height: 100%;
    background: #8BC34A;
    display: grid;
    grid-template: repeat(30, 1fr)/ repeat(30, 1fr);
}

.tabela .food {
    background: #ff003d;
}


.tabela .head {
    background: #335c04
}